* {
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.purple {
    color: #BE35AC;
}

.border-purple {
    border: 5px solid #BE35AC;
    border-radius: 10px;
}

#canvas_div{
    text-align: center;
    margin: 40px auto;
}

canvas{
    border-radius: 25px;
    border: 10px solid #BE35AC;
}

.container-fluid {
    height: 60vh;
    margin: 20px 0 20px 0;
    padding: 20px;
}

.add-stave-btn {
    width: 100%;
    background: #cccacc;
    height: 100px;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 1px;
    font-size: 20px;
}

.centered {
    max-width: fit-content;
    margin: 100px auto auto auto;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 2px 2px 12px grey;
}

.main-container {
    margin: 10px;
    padding: 10px;
}